<!-- templates/index.html -->
{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" href=styles.css>

{% block title %}
<center><font size=+7><h1>GIF Search</h1></font></center>
{% endblock %}


<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->
   <center>
    <div class = "search-box">
            <form action = '/'>
            <input class="search-txt" name="query" type="query" style="width: 430px; height: 53px"placeholder="Type to Search for GIFs"/>
            <a class= "search-btn" href="#">
                <button input class="search-btn" type="submit" style="width: 60px; height: 60px">
                <i class="fas fa-search"></i>
                </button>
            </a>
            
            </form>
            </div>
            
            <form action = '/trending'>
            <button type="submit">Trending GIFS</button>
            </form>

            <form action = '/random'>
            <button type="submit">Random GIFS</button>
            </form>
    </center>      
<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->
<div class="grid">
  <style>
        .row {
            display: flex;
          }
          .column {
            flex: 33.33%;
            padding: 5px;
          }
  </style>
  <center>
            <div class="row">
                    <div class="column">
                            {% for gif in gifs %}
                            {% if loop.index == 1 %}
                                {% include 'gif.html'%}
                            {% endif %}
                        {% endfor %}

                        {% for gif in gifs %}
                            {% if loop.index == 2 %}
                                {% include 'gif.html'%}
                            {% endif %}
                        {% endfor %}

                        {% for gif in gifs %}
                            {% if loop.index == 3 %}
                                {% include 'gif.html'%}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="column">
                            {% for gif in gifs %}
                            {% if loop.index == 4 %}
                                {% include 'gif.html'%}
                            {% endif %}
                        {% endfor %}

                        {% for gif in gifs %}
                            {% if loop.index == 5 %}
                                {% include 'gif.html'%}
                            {% endif %}
                        {% endfor %}

                        {% for gif in gifs %}
                            {% if loop.index == 6 %}
                                {% include 'gif.html'%}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="column">
                            {% for gif in gifs %}
                            {% if loop.index == 7 %}
                                {% include 'gif.html'%}
                            {% endif %}
                        {% endfor %}

                        {% for gif in gifs %}
                            {% if loop.index == 8 %}
                                {% include 'gif.html'%}
                            {% endif %}
                        {% endfor %}

                        {% for gif in gifs %}
                            {% if loop.index == 9 %}
                                {% include 'gif.html'%}
                            {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </center>
            
        <!-- Make a for loop to loop over GIFs passed in from the server -->
            <!-- For each gif, include the 'gif.html' template to display it -->
        
    </div>
    {% if gifs|length == 0 %}
        <h1>No GIFs could be found, and to try another search query!</h1>
    {% endif %}
    {% endblock %}